@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  width: 1920px;
  height: 1429px;
  margin-top: 51px;
}

.header {
  width: 1920px;
  height: 192px;
  background-color: #ffffff;
  display: inline-block;
  margin-top: 70px;
  gap: 10px;
}

.logo {
  width: 154px;
  height: 45px;
  margin-left: 45px;
  font-weight: 700;
  margin-top: 6px;
  vertical-align: bottom;
}

nav,
nav ul li {
  display: inline-block;
  vertical-align: top;
}
.home-button {
  width: 564px;
  height: 23px;
  margin-left: 30px;
}
.nav {
  margin-left: 20px;
  color: #274c5b;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  font-family: "Roboto";
}
.main-section {
  width: 1920px;
  height: 624px;
  background-color: #f9f8f8;
  display: inline-block;
}
.main-div {
  width: 1400px;
  height: 624px;
  margin-left: 260px;
  gap: 91px;
  display: inline-block;
}

.narural-produsts {
  width: 1400px;
  height: 624px;
}
.choose {
  font-family: "Yellowtail", cursive;
  color: #7eb693;
  font-size: 36px;
  font-weight: 400;
  line-height: 49px;
}
h1 {
  width: 524px;
  height: 118px;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  font-family: "Roboto";
  color: #274c5b;
}

.simply {
  width: 671px;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  color: #525c60;
}
.icon {
  width: 19px;
  height: 19px;
}
.persent {
  width: 339px;
  height: 81px;
  background-color: #ececec;
  padding: 29px 91px 29px 27px;
  gap: 10px;
  align-items: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: #274c5b;
}
.second-paragraf {
  width: 504px;
  height: 60px;
  padding: 0px 0px 0px 60px;
  gap: 10px;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: #525c60;
  font-family: "Open Sans", sans-serif;
}
div > img {
  width: 678px;
  height: 579px;
  display: inline-block;
}
