@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  width: 1920px;
  height: 1420px;
  background-color: #ffffff;
}
.header {
  width: 100%;
  max-width: 120rem;
  padding: 69px 162px;
  background-color: #ffffff;
}

.header-conteiner {
  display: flex;
  width: 100%;
  max-width: 912.791px;
  align-items: center;
  gap: 150px;
}

.logo_box {
  width: 37px;
  height: 54;
  color: #7eb693;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px;
  border-color: solid #7eb693;
}

.logo_name {
  width: 154px;
  height: 45px;
  font-size: 38px;
  margin-left: 8px;
  margin-top: auto;
  font-weight: 700;
  font-size: 38px;
  line-height: 44.5px;
  color: #274c5b;
  font-family: "Roboto", sans-serif;
}

/*  */
nav,
nav ul li {
  display: inline-block;
  vertical-align: middle;
}
.home-button {
  width: 564px;
  height: 23px;
  margin-left: 40px;
}
.nav {
  color: #274c5b;
  width: 564px;
  height: 23px;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
}
.main-section {
  width: 1920px;
  height: 1050px;
  background-color: #f9f8f8;
  display: inline-block;
}
.choose {
  margin-top: 50px;
  width: 208px;
  height: 49px;
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #7eb693;
}
h1 {
  width: 524px;
  height: 118px;
  font-weight: 800;
  font-size: 50px;
  line-height: 58.5px;
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  margin-top: 55px;
}
.simply {
  width: 671px;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #525c60;
  font-family: "Open Sans", sans-serif;
}
.main-div {
  width: 1400px;
  height: 624px;
  margin-left: 260px;
  gap: 91px;
  display: inline-block;
  font-weight: 400;
  line-height: 24.2px;
  margin-left: 60px;
}

/* main section1 */
.imag-rectangle {
  width: 780px;
  height: 116px;
  margin: 120px 0 120px 130px;
  font-family: "Inter";
  font-weight: 400;
}
.image1 {
  width: 1440px;
  height: 478px;
}
.welcome {
  width: 210;
  height: 44px;
  font-size: 36px;
  line-height: 43.57px;

  margin-bottom: 24px;
}
.text-welcome {
  width: 780px;
  height: 48px;
  font-size: 20px;
  line-height: 24.2px;
}

.persent {
  width: 339px;
  height: 81px;
  background-color: #ececec;
  padding: 29px 91px 29px 27px;
  gap: 10px;
  align-items: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: #274c5b;
}
.second-paragraf {
  width: 504px;
  height: 60px;
  padding: 0px 0px 0px 60px;
  gap: 10px;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: #525c60;
  font-family: "Open Sans", sans-serif;
}
.picture {
  width: 678px;
  height: 579px;
}

.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer conteiner  */

.conteiner-footer {
  width: 1118px;
  height: 335px;
  gap: 30px;
  margin-left: 150px;
  padding-left: 141px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 91px;
}

.little-conteiner {
  width: 257px;
  height: 335px;
  background-color: #ffffff;
  /* padding-left: 30px; */
}

.policy {
  width: 152px;
  height: 26px;
  margin: 29px 83px 0 22px;
  /* margin-top: 29px;
  margin-left: 22px; */
  font-family: "Roboto";
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  color: #274c5b;
  text-align: center;
}
.polic-paragrap {
  padding: 20px 37px 0 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #525c60;
}
